.home-about-section {
  margin-bottom: 200px;
  .about {
    width: 100%;
    h2 {
      width: 60%;
      font-size: 2.3rem;
      font-weight: 400;
      margin-left: 124px;
      color: var(--color-secondary);
    }
    p {
      max-width: 440px;
      font-size: 1rem;
      line-height: 1.6rem;
      margin-left: 124px;
      color: var(--color-secondary);
    }
  }
  .accordian-header {
    width: 100%;
    color: #ea281e;
    height: 32px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.15rem;
    margin: 8px 0;
    .accordian-icon {
      display: flex;
      align-items: center;
      height: 100%;
      margin-right: 8px;
      span {
        width: 16px;
        height: 4px;
        background: #ea281e;
        transition: all 0.1s ease-in-out;
      }
    }
  }
  .accordian-content {
    overflow: hidden;
    padding-left: 40px;
    span {
      width: 100%;
      margin: 8px 0;
      font-size: 0.875rem;
      color: #ea281e;
      display: block;
      font-weight: 300;
    }
  }
}
