@use "../abstracts/mixins" as *;

.footer-nav {
  position: relative;
  height: 300px;
  margin-top: 296px;
  @include breakpoint(small) {
    margin-top: 0px;
    height: 225px;
    .flex {
      flex-direction: column;
      justify-content: flex-start !important;
      align-items: flex-start;
    }
  }
  .footer-content {
    color: var(--color-accent);
    font-size: 22px;
    font-weight: 600;
    line-height: 8px;
    flex: 1;
    @include breakpoint(small) {
      flex: initial;
    }
    p {
      line-height: 1.5;
    }
    &.wider {
      flex: 2;
      @include breakpoint(small) {
        flex: initial;
      }
    }
  }
  .footer-social {
    display: flex;
    position: relative;
    a {
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      margin: 15px;
      @include breakpoint(small) {
        margin-left: 0;
      }
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
