.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: var(--color-accent);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-in-out;
  transition-property: width, height, border;
  will-change: width, height, transform, border;
  pointer-events: none;
  z-index: 999;
  &.pointer {
    background: transparent !important;
    width: 56px;
    height: 56px;
    border: 4px solid var(--color-secondary) !important;
  }
  &.hovered {
    background: transparent !important;
    width: 56px;
    height: 56px;
    border: 4px solid var(--color-accent);
  }
  &.nav-open {
    background: var(--color-secondary) !important;
    width: 32px;
    height: 32px;
    border: none;
  }
}
