nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #ea281e;
  color: #000;
  z-index: 100;
  overflow: hidden;
  .nav-header {
    top: 72px;
    position: relative;
    h2 {
      color: var(--color-primary);
    }
    .close-nav {
      button {
        transform-origin: center;
        border: none;
        padding: 20px;
        background: none;
        outline: none;
        span {
          width: 36px;
          height: 8px;
          display: block;
          background: var(--color-primary);
          margin: 8px;
        }
      }
    }
  }
  .nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    ul {
      padding: 0;
      li {
        list-style: none;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 900;
        height: 96px;
        line-height: 96px;
        overflow: hidden;
        .link {
          color: var(--color-primary);
          position: relative;
          display: flex;
          align-items: center;
          .arrow {
            height: 76px;
            margin-right: 8px;
          }
        }
        svg {
          width: 100px;
          path {
            fill: var(--color-primary);
          }
        }
      }
    }
  }
  .nav-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 56px 0px;
    .footer-content {
      color: #ea281e;
      font-size: 22px;
      font-weight: 600;
      line-height: 8px;
      flex: 1;
      p {
        line-height: 1.5;
        color: var(--color-primary);
      }
      &.wider {
        flex: 2;
      }
    }
    .footer-social {
      display: flex;
      position: relative;
      a {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        margin: 15px;
        svg {
          width: 100%;
          height: 100%;
          path {
            fill: var(--color-primary);
          }
        }
      }
    }
  }
  .nav-videos {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 60%;
    overflow: hidden;
    background: #000;
    .reveal {
      width: 100%;
      background: #ea281e;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }

    .video {
      background: #000;
      position: absolute;
      height: 100%;
      margin: 0;
      z-index: -1;
      video {
        height: 100%;
      }
    }
  }
}
